# Configuración de la Base de Datos MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=tu_password
DB_NAME=red_egresados
DB_PORT=3306

# Puerto del servidor
PORT=3001

# Clave para ejecutar el servidor (cambiar por una propia)
DEV_KEY=tu_clave_secreta
DB_PORT=3306

# Puerto del servidor
PORT=3001
